
*{
    margin: 0px;
}


.div01{
    margin: 30px auto;
    width: 700px;
    font-family: 'Segoe UI';
    padding:5px 5px;
    border-right: 0px rgb(229, 224, 224) solid;
    border-radius: 10px;
    /*Para criar uma borda usamos as propriedades border-
width, border-style e border-color. Cada uma dessas
propriedades representa uma característica da borda. Temos 4 propriedades que representam
as bordas nos lados de um elementos
BORDER-TOP
BORDER-LEFT
 BORDER-RIGHT


BORDER-BOTTOM
    border-width:2px ;
    border-style: solid;
    border-color:red ;
*/
}

h1,h2{
text-align: left;
margin-bottom: 15px ;
padding-left: 10px;
padding-top: 5px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
line-height: 40px;
border-left: 6px solid rgba(255, 0, 0, 0.775);
border-bottom: 0px solid rgba(167, 167, 167, 0.197);
}


a{
    margin: 0px 5px;
    text-decoration: none;
    font-family:'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
}


.imgnova{
   width: 700px;    
   margin: 30px 15px 10px 15px;
  padding-top: 10px 10px;/*Para criar os espaços internos em um elemento
  utilizamos a propriedade padding, que cria os
  espaçamentos que vemos abaixo padding-top, padding-bottom, padding-right e padding-left:*/
  border: rgba(179, 179, 179, 0.379) solid 5px;
  border-radius: 12px 12px 12px 12px;
}



span{

    font-weight: bold;
   
}

p{
    text-align: left;
    line-height: 25px;
    font-style: normal;
    padding: 20px;
}
abbr{

    text-decoration: none;
}

body{

    background-color: rgba(244, 242, 242, 0.485);
    
}

#linkbotao{
background-color: rgb(176, 176, 176);
padding: 20px 20px 20px 20px;
font-weight: none;
width:80px;
font-family: 'Times New Roman', Times, serif;
border-radius: 12px;}/*Até aqui vimos como aplicar bordas em um elemento.
Agora veremos como arredondar os 4 cantos das bordas
com a propriedade border-radius, como mostrado abaixo
Podemos também deixar o elemento em forma de
círculo, como vemos abaixo. Para isso, use valores
elevados em border-radius.
altura e largura iguais ou bem próximas
 width: 135px;
        height: 135px;
        padding: 5px;
        border: 8px solid; 
        border-radius:80px;
        margin-left: 40px;

*/

.redonda{


     background-color: rgb(208, 208, 208);
     height:200px;
     border-left: 10px solid rgb(0, 0, 0);
    border-radius:0px 80px 80px 0px;
    width: 600px;
}

h3{
    text-align: center;
    border-left: 5px rgb(0, 0, 0) solid;
    padding: 30px;
    width: 150px;
}


span{
    font-weight: bold;
}